
.btn{
padding: 10px 20px;
background-color: rgb(26, 26, 249);
color: #fff;
font-weight: 600;
font-size: 20px;
border-radius: 10px;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3) inset;
}
.btn:hover{
  background-color: #072ac8;
}
.log-icon:hover + span{
display: block;
}
.chat-sec{
  height: calc(100% - 120px);
  overflow-y: scroll;
}
.chat-sec::-webkit-scrollbar{
  display: none;
}
.received{
  flex-direction: row-reverse;
 

}

.received p{
 
  background-color: #bbc5ef;
  border-radius: 10px 5px 5px 0px;
  float: right;

}
